<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/tailwind.css}" />
  <script th:inline="javascript">
    let authToken = [[${wstoken}]];
    document.cookie = 'WEBSOCKET-IDENT=' + authToken + '; path=/';
  </script>
  <script th:src="@{/js/messagerie.js}"></script>
  <title>Messages</title>
</head>
<body class="text-gray-300 bg-sky-900 h-screen w-screen">
<div class="flex h-screen mx-auto w-full">
  <div th:insert="fragments/leftsidebar :: leftsidebar" th:remove="tag"></div>
  <div class="w-11/12 md:w-3/5 mx-auto md:ml-4 md:max-w-2xl flex flex-row">
  <div class="w-2/5">
    <h2 class="text-3xl font-bold mt-8 mb-8 flex flex-col">Messages</h2>
    <div th:if="${contacts.size()>0}">
      <div th:each="contact : ${contacts}">
        <button class="w-full" th:attr="onclick='showConv(\''+${contact.getusername()}+'\')'">
          <span class="text-xl text-clip w-2/5" th:text="${contact.getnickname()}"></span>
          <span class="text-lg text-clip w-2/5" th:text="'@'+${contact.getusername()}"></span>
          <span class="bg-blue-500 rounded-full w-1/5 hidden" th:id="'notif'+${contact.getusername()}">0</span>
        </button>
      </div>
    </div>
    <div th:unless="${contacts.size()>0}">
      Aucun contact
    </div>
  </div>
  <div id="conv" class="w-3/5 h-full">
    <div class="mt-32 ml-6 text-xl">Cliquez sur un contact pour commencer une conversation !</div>
  </div>
  </div>
</div>
</body>
<script>
  let conv=document.getElementById("conv");
</script>
</html>